<div class="col-md-4 contract">
  <h4
    [ngClass]="
      contract.contractType === 'company'
        ? 'contract-type type-company'
        : 'contract-type type-personal'
    "
  >
    <span class="glyphicon glyphicon-list-alt"></span>
    {{ contract.contractType === "personal" ? "Personal" : "Company" }}
  </h4>
  <h4>
    Start on: <span class="start-date">{{ contract.startDate }}</span> Monthly:
    <span class="price">{{ contract.price }}</span>
  </h4>
  <h4
    class="company-name"
    *ngIf="
      contract.contractType && company && contract.contractType === 'company'
    "
  >
    {{ company.name }}
  </h4>
  <h4
    class="personal"
    *ngIf="contract.contractType && contract.contractType === 'personal'"
  >
    Personal
  </h4>
  <h3 class="unit" *ngIf="unit">{{ unit.name }}</h3>
  <h4 class="building-area" *ngIf="building && area">
    <span>{{ building.name }}</span> - <span>{{ area.name }}</span>
  </h4>
  <h4 class="client" *ngIf="client">{{ client.name }}</h4>
  <h4 class="client" *ngIf="client">{{ client.phone }}</h4>
  <h4>
    <button class="btn btn-primary" (click)="addClicked()">
      {{ !paymentClicked ? "Add payment" : "Hide payment" }}
    </button>
  </h4>
  <app-add-receipt-form
    *ngIf="paymentClicked"
    [totalRemaining]="totalRemaining"
    [contractId]="contract.id"
    [unitId]="contract.unitId"
    [buildingId]="contract.buildingId"
    [clientId]="contract.clientId"
  ></app-add-receipt-form>
  <h4>
    <span class="required">Required<br /><br />{{ totalRequired }} QR</span
    ><span class="payments">Paid<br /><br />{{ totalPayments }} QR</span
    ><span class="remaining">Remaining<br /><br />{{ totalRemaining }} QR</span>
  </h4>
  <h4 class="expire-on" *ngIf="!expired">
    <span class="valid-title">Valid unitl:</span> <br />
    <span class="small-valid-date">{{ expiredDate }}</span>
  </h4>
  <h4 class="expired" *ngIf="expired">
    Expired <br />
    <span class="small-date">{{ expiredDate }}</span>
  </h4>
  <p class="limit" *ngIf="totalPayments > totalRequired">Over Paid!!!</p>
  <button
    class="btn btn-danger terminate"
    (click)="onTerminate()"
    [disabled]="contract.terminate"
  >
    {{ contract.terminate ? "Terminated" : "Terminate Contract" }}
  </button>
  <br />
  <br />
  <button class="btn btn-default" *ngIf="expired" (click)="onDelete()">
    Delete Contract
  </button>
  <div *ngIf="terminateClicked">
    <h4>Are you sure you want to terminate this contract?</h4>
    <p class="warning">
      Required, Remaining will be reset to used months:<br />
      ( {{ usedMonths }} Months )
    </p>
    <p class="limit" *ngIf="limitPassed">
      7th of month is passed, so one extra month has been added!
    </p>
    <p class="limit" *ngIf="overPaid">
      Payment of this contract will be more than required after terminated!
    </p>
    <h4>
      <button class="btn btn-success btn-sm" (click)="confirmTerminate()">
        Yes
      </button>
      |
      <button class="btn btn-danger btn-sm" (click)="cancelTerminate()">
        No
      </button>
    </h4>
  </div>
</div>
