.contract {
  text-align: center;
  cursor: pointer;
  background-color: #f5f5f5;
  border-radius: 18px;
  border: 8px solid #ccc;
  padding: 0;
  min-height: 360px;
}
.contract:hover {
  background-color: #d4d4d4;
}
.contract-type {
  background-color: #666;
  margin: 0;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
}
.type-company {
  background-color: #666;
}
.type-personal {
  background-color: #3c6800;
}
.company-name {
  color: #006db6;
  font-weight: bold;
  border-bottom: 1px dotted #333;
  padding: 10px;
  margin: 0;
  height: 70px;
  line-height: 25px;
  font-size: 16px;
}
.personal {
  color: #006db6;
  font-weight: bold;
  border-bottom: 1px dotted #333;
  padding: 10px;
  margin: 0;
  height: 70px;
  line-height: 25px;
}
.unit {
  color: #900;
  font-size: 16px;
  height: 30px;
  margin: 5px 0;
  padding: 5px 0;
}
.building-area {
  background-color: #e4e4e4;
  margin: 0;
  padding: 10px;
  height: 50px;
}
.building-area span {
  margin: 0 10px;
  font-size: 16px;
}
.client {
  color: #666;
  font-size: 16px;
  margin: 20px 0;
}
.expired {
  background-color: #bd7878;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0;
  padding: 0;
}
.expire-on {
  background-color: #e9e9e9;
  color: #333;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0;
  padding: 5px;
}
.expire-title {
  color: red;
}
.price {
  color: red;
}
.required {
  background-color: #ff7474;
  padding: 10px;
  color: #333;
  width: 33%;
  display: inline-block;
  font-size: 16px;
}
.payments {
  background-color: #a0ffa0;
  padding: 10px;
  color: #333;
  width: 33%;
  display: inline-block;
  font-size: 16px;
}
.remaining {
  background-color: #ffd280;
  padding: 10px;
  color: #333;
  width: 34%;
  display: inline-block;
  font-size: 16px;
}
