.success {
  color: green;
}
.available {
  color: #ff4800;
}
.error {
  color: red;
}
.title {
  color: green;
}
.unit-name {
  color: #006db6;
  font-size: 22px;
  font-weight: bold;
}
input {
  margin: 10px 0;
}
.type {
  text-align: left;
}
