.unit {
  text-align: center;
  cursor: pointer;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin: 5px 5px;
  border: 1px dotted #666;
  padding: 5px;
  min-height: 350px;
}
.name {
  height: 60px;
}
img {
  margin-top: 20px;
}
.unit:hover {
  background-color: #d4d4d4;
}
h3 {
  color: #006db6;
}
h4 {
  color: #3d3d3d;
}
.description {
  color: #7a7a7a;
  height: 40px;
}
.empty {
  background-color: #70c200;
  padding: 4px;
  border-radius: 7px;
  color: white;
  margin-right: 5px;
}
.rented {
  background-color: #c2004e;
  padding: 4px;
  border-radius: 7px;
  color: white;
}
.not-rented {
  background-color: #70c200;
  padding: 4px;
  border-radius: 7px;
  color: white;
}
.btn-danger {
  padding: 4px 8px;
}
.end {
  margin-top: 10px;
  color: red;
}
.quantity {
  color: #60a500;
}
.available {
  color: red;
  margin-top: 15px;
}
.message {
  color: red;
}
