.row {
  text-align: center;
}
.title {
  color: #006db6;
}
h3 {
  color: #464646;
  font-style: italic;
  font-size: 20px;
}
.location {
  color: #464646;
  font-style: italic;
}
.description {
  color: #666;
}
.btn-success {
  background-color: #70c200;
}
