.building {
  text-align: center;
  cursor: pointer;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin: 5px 5px;
  border: 1px dotted #666;
  padding: 5px;
  height: 310px;
}
.building:hover {
  background-color: #d4d4d4;
}
.name {
  color: #006db6;
  height: 60px;
}
h4 {
  color: #3d3d3d;
}
.description {
  color: #7a7a7a;
  height: 40px;
}
.quantity {
  background-color: #00af00;
  color: white;
  border-radius: 7px;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}
.empty {
  background-color: #900;
  color: white;
  border-radius: 7px;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}
.available {
  color: #00af00;
}
.delete {
  color: red;
  text-decoration: none;
}
.delete:hover {
  color: #006db6;
  font-weight: bold;
}
