.area {
  text-align: center;
  cursor: pointer;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin: 5px 5px;
  border: 1px dotted #666;
  padding: 5px;
}
.area:hover {
  background-color: #d4d4d4;
}
h4 {
  color: #3d3d3d;
}
p {
  color: #7a7a7a;
}
.delete {
  color: red;
  text-decoration: none;
}
.delete:hover {
  color: #006db6;
  font-weight: bold;
}
